<launch>
	<rosparam command="load" file="Parameters/General.yaml" />
	<rosparam command="load" file="Parameters/Goals.yaml" />
	<rosparam command="load" file="Parameters/HighLevelActions.yaml" />

	<node name="action_executor" pkg="action_executor" type="action_executor" output="screen" />  <!-- Launch the action executor -->
	<node name="mental_states" pkg="mental_states" type="mental_states" output="screen" />  <!-- Launch the mental state manager -->
	<node name="human_monitor" pkg="human_monitor" type="human_monitor" output="screen" />  <!-- Launch the human monitor -->
</launch>
