<launch>
        <rosparam command="load" file="$(find launchs)/Parameters/General.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/Entities.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/ActionExecutor.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/Dialogue.yaml" />

        <node name="action_executor" pkg="action_executor" type="action_executor" output="screen" />  <!-- Launch the action executor -->
        <node name="dialogue_node" pkg="dialogue_node" type="dialogue_node" output="screen" />  <!-- Launch the dialogue node -->
        <node name="state_machines" pkg="state_machines" type="state_machines" output="screen" />  <!-- Launch the state machines -->
</launch>
