<launch>
	<!-- Declare the parameters for this script -->
	<arg name="verbosity_level" default="1" /> <!-- Can be: "0", "1", "2" or "3" -->
	<arg name="database_mode" default="domain" /> <!-- Can be: "domain" or "toaster" -->
	<arg name="toaster_database" default="planning" /> <!-- Can be: "planning" or "current" -->
	<arg name="toaster_agent" default="" /> <!-- Can be any agent from the toaster database -->
	<arg name="hatpconsole_mode" default="complete" /> <!-- Can be: complete or minimal -->
	
	<!-- Call the script from hatponboard -->
	<include file="$(find hatponboard)/scripts/hatponboard.launch"> <!-- pass_all_args="true" > -->
		<arg name="verbosity_level" value="$(arg verbosity_level)" />
		<arg name="database_mode" value="$(arg database_mode)" />
		<arg name="toaster_database" value="$(arg toaster_database)" />
		<arg name="toaster_agent" value="$(arg toaster_agent)" />
	</include>
	
	<!-- Start the two interfaces -->
	<node name="hatpconsole" pkg="hatpconsole" type="hatpconsole" output="screen" respawn="true" >
		<param name="mode" value="$(arg hatpconsole_mode)" />
	</node>
	<node name="hatptester" pkg="hatptester" type="hatptester" output="screen" respawn="true" />
</launch>
