<launch>
	<rosparam command="load" file="$(find launchs)/Parameters/General.yaml" />
	<rosparam command="load" file="$(find launchs)/Parameters/Goals.yaml" />
	<rosparam command="load" file="$(find launchs)/Parameters/HighLevelActions.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/HumanMonitoring.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/Entities.yaml" />
	<rosparam command="load" file="$(find launchs)/Parameters/ActionExecutor.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/MentalState.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/Interface.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/Dialogue.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/Planning.yaml" />

        <node name="dialogue_node" pkg="dialogue_node" type="dialogue_node" output="screen" />  <!-- Launch the dialogue node -->
</launch>
