<launch>
	<rosparam command="load" file="$(find launchs)/Parameters/General.yaml" />
	<rosparam command="load" file="$(find launchs)/Parameters/Goals.yaml" />
	<rosparam command="load" file="$(find launchs)/Parameters/HighLevelActions.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/HumanMonitoring.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/Entities.yaml" />
	<rosparam command="load" file="$(find launchs)/Parameters/ActionExecutor.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/MentalState.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/Interface.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/Dialogue.yaml" />
        <rosparam command="load" file="$(find launchs)/Parameters/Planning.yaml" />

	<node name="action_executor" pkg="action_executor" type="action_executor" output="screen" />  <!-- Launch the action executor -->
	<node name="mental_states" pkg="mental_states" type="mental_states" output="screen" />  <!-- Launch the mental state manager -->
	<node name="human_monitor" pkg="human_monitor" type="human_monitor" output="screen" />  <!-- Launch the human monitor -->
	<node name="state_machines" pkg="state_machines" type="state_machines" output="screen" />  <!-- Launch the state machines -->
        <node name="goal_manager" pkg="goal_manager" type="goal_manager" output="screen" />  <!-- Launch the goal manager -->
        <node name="plan_elaboration" pkg="plan_elaboration" type="plan_elaboration" output="screen" />  <!-- Launch the plan elaboration -->
        <node name="dialogue_node" pkg="dialogue_node" type="dialogue_node" output="screen" />  <!-- Launch the dialogue node -->
	<node name="graphical_interface" pkg="graphical_interface" type="graphical_interface" output="screen" />  <!-- Launch the graphical interface -->
        <node name="plan_executor" pkg="plan_executor" type="plan_executor" output="screen" />  <!-- Launch the plan executor -->
</launch>
