<launch>
    <include file="$(find data_manager)/launch/DataManager.launch"/>
    <include file="$(find human_monitor)/launch/HumanMonitor.launch"/>
    <include file="$(find plan_executor)/launch/PlanExecutor.launch"/>
    <include file="$(find graphical_interface)/launch/GraphicalInterface.launch"/>
</launch>
